<div class=WordSection18>

<p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;mso-bidi-font-size:
11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
color:black;text-transform:uppercase'>VI.A. ADMINISTRATIVE APPEALS OF INITIAL
DETERMINATIONS OF FOIA REQUESTS -- RECEIVED, PROCESSED, AND PENDING
ADMINISTRATIVE APPEALS<o:p></o:p></span></b></p>

</div>

<b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
mso-bidi-font-size:11.0pt;line-height:107%;font-family:Arial;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Arial;
color:black;text-transform:uppercase;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'><br clear=all style='page-break-before:auto;
mso-break-type:section-break'>
</span></b>

<div class=WordSection19>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=570
 style='width:570.0pt;border-collapse:collapse;border:none;mso-border-alt:solid #0F243E .5pt;
 mso-border-left-alt:solid windowtext .5pt;mso-yfti-tbllook:1184;mso-padding-alt:
 0in 0in 0in 0in;mso-border-insideh:.5pt solid windowtext;mso-border-insidev:
 .5pt solid windowtext'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=114 style='width:114.0pt;border:solid windowtext 1.0pt;border-top:
  solid #0F243E 1.0pt;mso-border-alt:solid windowtext .5pt;mso-border-top-alt:
  solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Agency / Component<o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Number of Appeals<br>
  Pending as of Start<br>
  of Fiscal Year<o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Number of<br>
  Appeals Received<br>
  in Fiscal Year<o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Number of<br>
  Appeals Processed<br>
  in Fiscal Year<o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid #0F243E 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:#0F243E;
  mso-border-left-alt:windowtext;mso-border-bottom-alt:windowtext;mso-border-right-alt:
  #0F243E;mso-border-style-alt:solid;mso-border-width-alt:.5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Number of Appeals<br>
  Pending as of End<br>
  of Fiscal Year<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><a
  name="RANGE!F8:F27"><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>AF</span></a><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'><o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>145<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><a name="RANGE!H8:H27"><span style='font-size:10.0pt;
  mso-bidi-font-size:11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:
  Arial;color:black'>104</span></a><span style='font-size:10.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'><o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><a name="RANGE!I8:I27"><span style='font-size:10.0pt;
  mso-bidi-font-size:11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:
  Arial;color:black'>59</span></a><span style='font-size:10.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'><o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>190<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>ASBCA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>ARMY<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>173<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>92<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>88<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>177<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DCAA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DCMA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>2<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  class=SpellE><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>DeCA</span></span><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'><o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:7'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DFAS<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>3<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>3<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:8'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DHA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>39<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>12<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>37<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>14<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:9'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DIA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>54<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>40<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>47<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>47<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:10'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DISA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>3<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>1<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:11'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DLA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>8<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>11<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>9<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>10<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:12'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DOD IG<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>11<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>32<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>25<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>18<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:13'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DSS<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:14'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DTRA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>7<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>5<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>2<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:15'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>Navy<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>26<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>436<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>367<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>95<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:16'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NGA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>10<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>12<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:17'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NRO<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>5<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>10<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>14<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>1<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:18'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NSA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>41<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>86<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>115<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>12<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:19'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>OSD/JS<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>447<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>313<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>372<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-right-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>388<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:20;mso-yfti-lastrow:yes'>
  <td width=114 style='width:114.0pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid #0F243E 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><a name="RANGE!F27:J27"><span style='font-size:10.0pt;
  mso-bidi-font-size:9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:
  Arial;color:black;mso-bidi-font-weight:bold'>AGENCY OVERALL</span></a><span
  style='font-size:10.0pt;mso-bidi-font-size:9.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black;mso-bidi-font-weight:bold'><o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid #0F243E 1.0pt;
  border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>970<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid #0F243E 1.0pt;
  border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>1,146<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid #0F243E 1.0pt;
  border-right:solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>1,147<o:p></o:p></span></p>
  </td>
  <td nowrap style='border-top:none;border-left:none;border-bottom:solid #0F243E 1.0pt;
  border-right:solid #0F243E 1.0pt;mso-border-top-alt:solid windowtext .5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:windowtext;
  mso-border-left-alt:windowtext;mso-border-bottom-alt:#0F243E;mso-border-right-alt:
  #0F243E;mso-border-style-alt:solid;mso-border-width-alt:.5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>969<o:p></o:p></span></p>
  </td>
 </tr>
</table>

</div>

<span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
font-family:Arial;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-bidi-font-family:Arial;color:black;text-transform:uppercase;mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br clear=all
style='page-break-before:auto;mso-break-type:section-break'>
</span>

<div class=WordSection20>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535
 style='width:535.0pt;border-collapse:collapse;mso-yfti-tbllook:1184;
 mso-padding-alt:0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:14.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:14.5pt'>
  <p class=MsoNormal><a name="RANGE!F31"><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>&nbsp;</span></i></a><i
  style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'><o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:30.0pt'>
  <td width=535 valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:30.0pt'>
  <p class=MsoNormal><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>After reviewing their
  databases, AF, DFAS, DHA, DIA, DLA, DTRA, NAVY, NSA, and OSD/JS updated the
  number of appeals pending as of the start of the Fiscal Year.<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:60.0pt'>
  <td width=535 valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:60.0pt'>
  <p class=MsoNormal><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>DHAs data from earlier Annual
  FOIA Reports did not contain information about all appeals that were
  received.<span style="mso-spacerun:yes">&nbsp; </span>DHAs change in the
  number of appeals pending as of the start of the Fiscal Year is the result of
  increased efforts to accurately capture all FOIA data, which DHA will
  continue to ensure the accuracy of future Annual FOIA Reports.<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;height:14.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:14.5pt'>
  <p class=MsoNormal><a name="RANGE!F34"><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>&nbsp;</span></i></a><i
  style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'><o:p></o:p></span></i></p>
  </td>
 </tr>
</table>

</div>

<i style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
11.0pt;line-height:107%;font-family:Arial;mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Arial;color:black;
text-transform:uppercase;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA'><br clear=all style='page-break-before:always;
mso-break-type:section-break'>
</span></i>


