<div class=WordSection75>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535
 style='width:535.0pt;margin-left:.25pt;border-collapse:collapse;mso-yfti-tbllook:
 1184;mso-padding-alt:0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
  height:15.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:15.5pt'>
  <p class=MsoNormal><b><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  text-transform:uppercase'>XI.B. Number of Subsection (A)(2) Postings<o:p></o:p></span></b></p>
  </td>
 </tr>
</table>

</div>

<b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
mso-bidi-font-size:11.0pt;line-height:107%;font-family:Arial;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Arial;
color:black;text-transform:uppercase;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'><br clear=all style='page-break-before:auto;
mso-break-type:section-break'>
</span></b>

<div class=WordSection76>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=342
 style='width:4.75in;border-collapse:collapse;border:none;mso-border-top-alt:
 #0F243E;mso-border-left-alt:windowtext;mso-border-bottom-alt:#0F243E;
 mso-border-right-alt:windowtext;mso-border-style-alt:solid;mso-border-width-alt:
 .5pt;mso-yfti-tbllook:1184;mso-padding-alt:0in 0in 0in 0in;mso-border-insideh:
 .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=114 style='width:114.0pt;border:solid windowtext 1.0pt;border-top:
  solid #0F243E 1.0pt;mso-border-alt:solid windowtext .5pt;mso-border-top-alt:
  solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Agency / Component<o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Number of Records Posted by the FOIA
  Office<o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Number of Records Posted by Program
  Offices<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>AF<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>5,024<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><a name="RANGE!G8:G41"><span style='font-size:10.0pt;
  mso-bidi-font-size:11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:
  Arial;color:black'>162,639</span></a><span style='font-size:10.0pt;
  mso-bidi-font-size:11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:
  Arial;color:black'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>AFRICOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>500<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>ASBCA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>368<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>ARMY<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>272<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>6<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>CENTCOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>243<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>CYBERCOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:7'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DCAA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>41<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>176<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:8'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DCMA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:9'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  class=SpellE><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>DeCA</span></span><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'><o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>45<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>251<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:10'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DFAS<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>5<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:11'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DHA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:12'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DIA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>126<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:13'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DISA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>145<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:14'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DLA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:15'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  class=SpellE><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>DoDEA</span></span><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'><o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>12<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>5<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:16'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  class=SpellE><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>DoD</span></span><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'> IG<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>44<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>300<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:17'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DSS<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:18'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DTIC<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>81<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1,811<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:19'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DTRA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>400<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:20'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>EUCOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:21'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>INDO-PACOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:22'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>JPRA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:23'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>Navy<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>9,361<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>100<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:24'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NGA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>7<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>48<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:25'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NGB<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:26'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NORTHCOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>12<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:27'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NRO<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>520<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:28'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NSA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>56<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>27<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:29'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>OSD/JS<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2,101<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>375<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:30'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>SOCOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>45<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:31'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>SOUTHCOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:32'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>STRATCOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>27<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:33'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>TRANSCOM<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>294<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>116<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:34;mso-yfti-lastrow:yes'>
  <td width=114 style='width:114.0pt;border-top:none;border-left:solid windowtext 1.0pt;
  border-bottom:solid #0F243E 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>AGENCY OVERALL<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid #0F243E 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>18,320<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid #0F243E 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>167,268<o:p></o:p></span></p>
  </td>
 </tr>
</table>

</div>

<span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
font-family:Arial;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-bidi-font-family:Arial;color:black;text-transform:uppercase;mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br clear=all
style='page-break-before:auto;mso-break-type:section-break'>
</span>

<div class=WordSection77>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535
 style='width:535.0pt;border-collapse:collapse;mso-yfti-tbllook:1184;
 mso-padding-alt:0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:14.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:14.5pt'>
  <p class=MsoNormal align=center style='text-align:center'><i
  style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'>&nbsp;<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:15.0pt'>
  <td width=535 valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:15.0pt'>
  <p class=MsoNormal><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>&nbsp;<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:15.0pt'>
  <td width=535 valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:15.0pt'>
  <p class=MsoNormal><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>&nbsp;<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;height:14.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:14.5pt'>
  <p class=MsoNormal align=center style='text-align:center'><i
  style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'>&nbsp;<o:p></o:p></span></i></p>
  </td>
 </tr>
</table>

</div>

<i style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
11.0pt;line-height:107%;font-family:Arial;mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Arial;color:black;
text-transform:uppercase;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA'><br clear=all style='page-break-before:always;
mso-break-type:section-break'>
</span></i>


