<div class=WordSection33>

<p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;mso-bidi-font-size:
11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
color:black;text-transform:uppercase'>VI.C<span class=GramE>.(</span>4).
RESPONSE TIME FOR ADMINISTRATIVE APPEALS<o:p></o:p></span></b></p>

</div>

<b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
mso-bidi-font-size:11.0pt;line-height:107%;font-family:Arial;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Arial;
color:black;text-transform:uppercase;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'><br clear=all style='page-break-before:auto;
mso-break-type:section-break'>
</span></b>

<div class=WordSection34>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=570
 style='width:570.0pt;border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
 mso-border-top-alt:solid #0F243E .5pt;mso-yfti-tbllook:1184;mso-padding-alt:
 0in 0in 0in 0in;mso-border-insideh:.5pt solid windowtext;mso-border-insidev:
 .5pt solid windowtext'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=114 style='width:114.0pt;border:solid windowtext 1.0pt;border-top:
  solid #0F243E 1.0pt;mso-border-alt:solid windowtext .5pt;mso-border-top-alt:
  solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><a name="RANGE!G7:K7"><span style='font-size:10.0pt;
  mso-bidi-font-size:9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:
  Arial;color:black;mso-bidi-font-weight:bold'>Agency / Component</span></a><span
  style='font-size:10.0pt;mso-bidi-font-size:9.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black;mso-bidi-font-weight:bold'><o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Median Number of Days<o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Average Number of Days<o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Lowest Number of Days<o:p></o:p></span></p>
  </td>
  <td width=114 style='width:114.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Highest Number of Days<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>AF<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>57.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>178.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>6.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>981.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>ASBCA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>ARMY<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>509.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>497.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>982.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:4'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DCAA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:5'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DCMA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>141.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>141.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>126.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>155.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:6'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  class=SpellE><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>DeCA</span></span><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'><o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:7'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DFAS<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>29.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>20.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>31.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:8'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DHA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>535.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>671.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>83.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1,584.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:9'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DIA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>235.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>408.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1,550.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:10'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DISA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>29.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>29.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>10.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>47.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:11'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DLA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>91.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>141.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>15.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>462.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:12'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DOD IG<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>35.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>55.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>310.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:13'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DSS<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:14'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>DTRA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>496.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>522.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>366.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>728.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:15'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>Navy<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>18.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>18.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>142.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:16'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NGA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>0.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:17'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NRO<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>64.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>116.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>15.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>513.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:18'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>NSA<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>15.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>99.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1,176.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:19'>
  <td nowrap valign=bottom style='border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>OSD/JS<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>37.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>350.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1.00<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>2,711.00<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:20;mso-yfti-lastrow:yes'>
  <td width=114 style='width:114.0pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><a name="RANGE!G27:K27"><span style='font-size:10.0pt;
  mso-bidi-font-size:9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:
  Arial;color:black;mso-bidi-font-weight:bold'>AGENCY OVERALL</span></a><span
  style='font-size:10.0pt;mso-bidi-font-size:9.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black;mso-bidi-font-weight:bold'><o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>123.84<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>177.21<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>32.95<o:p></o:p></span></p>
  </td>
  <td nowrap valign=bottom style='border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>625.42<o:p></o:p></span></p>
  </td>
 </tr>
</table>

</div>

<span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
font-family:Arial;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-bidi-font-family:Arial;color:black;text-transform:uppercase;mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br clear=all
style='page-break-before:auto;mso-break-type:section-break'>
</span>

<div class=WordSection35>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535
 style='width:535.0pt;border-collapse:collapse;mso-yfti-tbllook:1184;
 mso-padding-alt:0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:14.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:14.5pt'>
  <p class=MsoNormal><a name="RANGE!G31"><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>&nbsp;</span></i></a><i
  style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'><o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:30.0pt'>
  <td width=535 valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:30.0pt'>
  <p class=MsoNormal><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>Due to its decentralized program,
  <span class=SpellE>DoD</span> is unable to calculate an Agency Overall
  Median.<span style="mso-spacerun:yes">&nbsp; </span>The numbers for this
  section are the average of each column.<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:15.0pt'>
  <td width=535 valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:15.0pt'>
  <p class=MsoNormal><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>&nbsp;<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;height:14.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:14.5pt'>
  <p class=MsoNormal><a name="RANGE!G34"><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>&nbsp;</span></i></a><i
  style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'><o:p></o:p></span></i></p>
  </td>
 </tr>
</table>

</div>

<i style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
11.0pt;line-height:107%;font-family:Arial;mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Arial;color:black;
text-transform:uppercase;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA'><br clear=all style='page-break-before:always;
mso-break-type:section-break'>
</span></i>


