<div class=WordSection75>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal><b>XI.B. Number of Subsection (A)(2) Postings<o:p></o:p></b></p>
  </td>
 </tr>
</table>

</div>

<b ><br clear=all >
</b>

<div class=WordSection76>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=342>
 <tr >
  <td width=114 >
  <p class=MsoNormal align=center >Agency / Component<o:p></o:p></p>
  </td>
  <td width=114 >
  <p class=MsoNormal align=center >Number of Records Posted by the FOIA
  Office<o:p></o:p></p>
  </td>
  <td width=114 >
  <p class=MsoNormal align=center >Number of Records Posted by Program
  Offices<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >AF<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >5,024<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right ><a name="RANGE!G8:G41">162,639</a><o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >AFRICOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >500<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >ASBCA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >368<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >ARMY<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >272<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >6<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >CENTCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >243<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >CYBERCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DCAA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >41<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >176<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DCMA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DeCA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >45<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >251<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DFAS<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >5<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DHA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DIA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >126<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DISA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >145<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DLA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DoDEA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >12<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >5<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DoD IG<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >44<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >300<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DSS<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DTIC<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >81<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,811<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DTRA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >400<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >EUCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >INDO-PACOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >JPRA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >Navy<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >9,361<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >100<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NGA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >7<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >48<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NGB<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NORTHCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >12<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NRO<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >520<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NSA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >56<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >27<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >OSD/JS<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2,101<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >375<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >SOCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >45<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >SOUTHCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >STRATCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >27<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >TRANSCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >294<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >116<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=114 >
  <p class=MsoNormal align=center >AGENCY OVERALL<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >18,320<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >167,268<o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<br clear=all>

<div class=WordSection77>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal align=center ><i>&nbsp;<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 valign=bottom >
  <p class=MsoNormal><i >&nbsp;<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 valign=bottom >
  <p class=MsoNormal><i >&nbsp;<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal align=center ><i>&nbsp;<o:p></o:p></i></p>
  </td>
 </tr>
</table>

</div>

<i ><br clear=all >
</i>

