<div class=WordSection93>

<p class=MsoNormal ><b>XII.E.(1).
COMPARISON OF NUMBERS OF ADMINISTRATIVE APPEALS FROM PREVIOUS AND CURRENT
ANNUAL REPORT -- APPEALS RECEIVED AND PROCESSED<o:p></o:p></b></p>

</div>

<b ><br clear=all >
</b>

<div class=WordSection94>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=570>
 <tr >
  <td width=114 rowspan=2 >
  <p class=MsoNormal align=center >Agency / Component<o:p></o:p></p>
  </td>
  <td width=228 colspan=2 >
  <p class=MsoNormal align=center >NUMBER OF APPEALS <u>RECEIVED</u><o:p></o:p></p>
  </td>
  <td width=228 colspan=2 >
  <p class=MsoNormal align=center >NUMBER OF APPEALS <u>PROCESSED</u><o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=114 >
  <p class=MsoNormal align=center >Number Received During Fiscal Year
  from Last Year's Annual Report<o:p></o:p></p>
  </td>
  <td width=114 >
  <p class=MsoNormal align=center >Number Received During Fiscal Year
  from Current Annual Report<o:p></o:p></p>
  </td>
  <td width=114 >
  <p class=MsoNormal align=center >Number Processed During Fiscal Year
  from Last Year's Annual Report<o:p></o:p></p>
  </td>
  <td width=114 >
  <p class=MsoNormal align=center >Number Processed During Fiscal Year
  from Current Annual Report<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >AF<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >188<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >104<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >125<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >59<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >ASBCA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >ARMY<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >82<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >92<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >124<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >88<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DCAA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DCMA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DeCA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DFAS<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >3<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >3<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DHA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >15<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >12<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >3<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >37<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DIA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >54<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >40<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >73<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >47<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DISA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >5<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >3<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >6<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DLA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >15<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >11<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >9<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >9<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DOD IG<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >25<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >32<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >26<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >25<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DSS<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DTRA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >5<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >Navy<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >399<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >436<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >409<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >367<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NGA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NRO<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >10<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >10<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >7<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >14<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NSA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >110<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >86<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >317<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >115<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >OSD/JS<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >257<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >313<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >153<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >372<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=114 >
  <p class=MsoNormal align=center ><a name="RANGE!I28:M28">AGENCY OVERALL</a><o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,171<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,146<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,260<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,147<o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<br clear=all>

<div class=WordSection95>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal align=center ><i>&nbsp;<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 valign=bottom >
  <p class=MsoNormal><i >&nbsp;<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 valign=bottom >
  <p class=MsoNormal><i >After reviewing their
  databases, DCMA, DSS,and
  NAVY updated the number of Appeals Processed from Last YearÕs report.<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal align=center ><i>&nbsp;<o:p></o:p></i></p>
  </td>
 </tr>
</table>

</div>

<i ><br clear=all >
</i>

