<div class=WordSection30>

<p class=MsoNormal ><b>VI.C.(3).
REASONS FOR DENIAL ON APPEAL -- &quot;OTHER&quot; REASONS<o:p></o:p></b></p>

</div>

<b ><br clear=all >
</b>

<div class=WordSection31>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=578>
 <tr >
  <td width=87 >
  <p class=MsoNormal align=center >Agency / Component<o:p></o:p></p>
  </td>
  <td width=334 >
  <p class=MsoNormal align=center >Description of &quot;Other&quot;
  Reasons for Denial on Appeal from Chart C(2)<o:p></o:p></p>
  </td>
  <td width=87 >
  <p class=MsoNormal align=center >Number of Times &quot;Other&quot;
  Reason Was Relied Upon<o:p></o:p></p>
  </td>
  <td width=70 >
  <p class=MsoNormal align=center >TOTAL<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >AF<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >Records Referred to
  Another Component/Agency<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >7<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >7<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >ASBCA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >ARMY<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >Moot<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >27<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >Unable to Contact
  Requester<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >26<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DCAA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DCMA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DeCA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DFAS<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DHA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DIA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >Opened in Error<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DISA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DLA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DoD IG<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >Moot<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >3<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >Untimely<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DSS<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >DTRA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >Navy<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >Moot<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >78<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >78<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >NGA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >NRO<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >NSA<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >Untimely<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >5<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >5<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap rowspan=2 valign=top >
  <p class=MsoNormal >OSD/JS<o:p></o:p></p>
  </td>
  <td width=334 valign=bottom >
  <p class=MsoNormal >N/A<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap rowspan=2 >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=334 valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=87 >
  <p class=MsoNormal align=center ><a name="RANGE!G46:J46">AGENCY OVERALL</a><o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >122<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal >&nbsp;<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >&nbsp;<o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<br clear=all>

<div class=WordSection32>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal><a name="RANGE!G49"><i >&nbsp;</i></a><i><o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 valign=bottom >
  <p class=MsoNormal><i >&nbsp;<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 valign=bottom >
  <p class=MsoNormal><i >&nbsp;<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal><a name="RANGE!G52"><i >&nbsp;</i></a><i><o:p></o:p></i></p>
  </td>
 </tr>
</table>

</div>

<i ><br clear=all >
</i>

