<div class=WordSection6>
<p class=MsoNormal ><b>V.A. FOIA REQUESTS -- RECEIVED, PROCESSED
AND PENDING FOIA REQUESTS<o:p></o:p></b></p>
</div>

<div class=WordSection7>
<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=462>
 <tr >
  <td width=114 >
  <p class=MsoNormal align=center ><a name="RANGE!F7:J7">Agency / Component</a><o:p></o:p></p>
  </td>
  <td width=87 >
  <p class=MsoNormal align=center >Number of Requests<br>
  Pending as of Start<br>
  of Fiscal Year<o:p></o:p></p>
  </td>
  <td width=87 >
  <p class=MsoNormal align=center >Number of<br>
  Requests Received<br>
  in Fiscal Year<o:p></o:p></p>
  </td>
  <td width=87 >
  <p class=MsoNormal align=center >Number of<br>
  Requests Processed<br>
  in Fiscal Year<o:p></o:p></p>
  </td>
  <td width=87 >
  <p class=MsoNormal align=center >Number of Requests<br>
  Pending as of End<br>
  of Fiscal Year<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal ><a
  name="RANGE!F8:F41">AF</a><o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,531<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right ><a name="RANGE!H8:H41">4,343</a><o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right ><a name="RANGE!I8:I41">4,216</a><o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >1,658<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >AFRICOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >263<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >170<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >128<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >305<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >ASBCA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >22<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >21<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >ARMY<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2,434<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >26,812<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >26,415<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >2,831<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >CENTCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >642<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >710<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >321<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >1,031<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >CYBERCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >35<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >8<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >27<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DCAA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >103<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >103<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >1<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DCMA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >79<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >273<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >210<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >142<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DeCA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >0<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >163<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >161<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DFAS<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >7<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >197<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >190<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >14<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DHA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >54<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >775<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >534<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >295<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DIA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,157<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >588<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >463<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >1,282<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DISA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >40<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >459<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >459<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >40<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DLA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >121<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >5,754<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >5,266<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >609<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DoDEA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >18<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >84<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >92<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >10<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DoD IG<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >424<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >696<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >836<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >284<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DSS<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >60<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >167<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >216<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >11<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DTIC<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >5<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >161<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >163<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >3<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >DTRA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >101<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >90<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >84<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >107<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >EUCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >44<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >44<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >INDO-PACOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >109<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >103<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >7<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >JPRA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >3<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >21<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >22<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >2<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >Navy<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2,593<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >10,720<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >10,025<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >3,288<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NGA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >44<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >177<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >124<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >97<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NGB<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >131<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >173<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >111<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >193<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NORTHCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >7<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >90<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >84<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >13<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NRO<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >57<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >194<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >213<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >38<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >NSA<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,621<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,526<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,526<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >1,621<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >OSD/JS<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >2,242<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,854<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >1,716<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >2,380<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >SOCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >345<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >251<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >204<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >392<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >SOUTHCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >187<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >122<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >124<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >185<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >STRATCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >9<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >60<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >64<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >5<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >TRANSCOM<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >14<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >89<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >77<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >26<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=114 >
  <p class=MsoNormal align=center ><a name="RANGE!F41:J41">AGENCY OVERALL</a><o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >14,194<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >57,032<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >54,323<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >16,903<o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<br clear=all>

<div class=WordSection8>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal><a name="RANGE!F45"><i >&nbsp;</i></a><i><o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 valign=bottom >
  <p class=MsoNormal><i >After reviewing their
  databases, AF, ARMY, CENTCOM, DHA, DIA, DISA, DLA, DSS, NAVY, OSD/JS, SOCOM,
  and SOUTHCOM updated the number of pending requests as of the start of the
  Fiscal Year.<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 valign=bottom >
  <p class=MsoNormal><i >DHAÕs data from earlier Annual
  FOIA Reports did not contain information about all requests that were
  received.&nbsp; DHAÕs change in the
  number of requests pending as of the start of the Fiscal Year is the result
  of increased efforts to accurately capture all FOIA data, which DHA will
  continue to ensure the accuracy of future Annual FOIA Reports.<o:p></o:p></i></p>
  </td>
 </tr>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal><a name="RANGE!F48"><i >&nbsp;</i></a><i><o:p></o:p></i></p>
  </td>
 </tr>
</table>

</div>

<i ><br clear=all >
</i>

