
<div class=WordSection3>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535
 style='width:535.0pt;margin-left:.25pt;border-collapse:collapse;mso-yfti-tbllook:
 1184;mso-padding-alt:0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
  height:18.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:18.5pt'>
  <p class=MsoNormal><b><span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  text-transform:uppercase'>IV. Exemption 3 Statutes <o:p></o:p></span></b></p>
  </td>
 </tr>
</table>

</div>

<b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
mso-bidi-font-size:11.0pt;line-height:107%;font-family:Arial;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Arial;
color:black;text-transform:uppercase;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'><br clear=all style='page-break-before:auto;
mso-break-type:section-break'>
</span></b>

<div class=WordSection4>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=658
 style='width:658.0pt;border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
 mso-border-top-alt:solid #0F243E .5pt;mso-yfti-tbllook:1184;mso-padding-alt:
 0in 0in 0in 0in;mso-border-insideh:.5pt solid windowtext;mso-border-insidev:
 .5pt solid windowtext'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td width=135 style='width:135.0pt;border:solid windowtext 1.0pt;border-top:
  solid #0F243E 1.0pt;mso-border-alt:solid windowtext .5pt;mso-border-top-alt:
  solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><a name="RANGE!C7:H7"><span style='font-size:10.0pt;
  mso-bidi-font-size:9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:
  Arial;color:black;mso-bidi-font-weight:bold'>Statute</span></a><span
  style='font-size:10.0pt;mso-bidi-font-size:9.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black;mso-bidi-font-weight:bold'><o:p></o:p></span></p>
  </td>
  <td width=161 style='width:161.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Type of Information<br>
  Withheld<o:p></o:p></span></p>
  </td>
  <td width=161 style='width:161.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Case Citation<o:p></o:p></span></p>
  </td>
  <td width=67 style='width:67.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Agency / Component<o:p></o:p></span></p>
  </td>
  <td width=67 style='width:67.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Number of Times<br>
  Relied upon<br>
  by Agency / Component<o:p></o:p></span></p>
  </td>
  <td width=67 style='width:67.0pt;border-top:solid #0F243E 1.0pt;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:solid #0F243E .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:center'><span style='font-size:10.0pt;mso-bidi-font-size:
  9.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black;mso-bidi-font-weight:bold'>Total Number of<br>
  Times Relied upon<br>
  by Agency Overall<o:p></o:p></span></p>
  </td>
 </tr>

<!-- Rows Statutes -->
{% for key,value in content.field_statute_iv if key|first != '#' %}

 <tr style='mso-yfti-irow:1'>
  <td width=135 rowspan=2 valign=top style='width:135.0pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>
  {{ content.field_statute_iv[key].field_statute }} RGR
  <o:p></o:p></span></p>
  </td>
  <td width=161 valign=top style='width:161.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>Confidential
  financial disclosure report pertaining to certain government employees <o:p></o:p></span></p>
  </td>
  <td width=161 valign=top style='width:161.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  class=SpellE><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>Meyerhoff</span></span><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'> v. EPA, 958 F.2d
  1498, 1500-02 (9th Cir. 1992); Boyd v. Exec. Office for U.S. Attorneys, 161
  F. Supp. 3d 1, 7 (D.D.C. 2015); <span class=SpellE>Seife</span> v. NIH, 874
  F. Supp. 2d 248, 254 (S.D.N.Y. 2012).<o:p></o:p></span></p>
  </td>
  <td width=67 nowrap valign=top style='width:67.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><span
  style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
  font-family:Arial;mso-bidi-font-family:Arial;color:black'>AF<o:p></o:p></span></p>
  </td>
  <td width=67 nowrap valign=top style='width:67.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black'>1<o:p></o:p></span></p>
  </td>
  <td width=67 nowrap rowspan=2 style='width:67.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=right style='margin-bottom:6.0pt;mso-para-margin-bottom:
  .5gd;text-align:right'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
  line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;color:black;
  mso-bidi-font-weight:bold'>2<o:p></o:p></span></p>
  </td>
 </tr>
{% endfor %}
<!-- End Rows Statutes -->
</table>

</div>

<span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:107%;
font-family:Arial;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
mso-bidi-font-family:Arial;color:black;text-transform:uppercase;mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br clear=all
style='page-break-before:auto;mso-break-type:section-break'>
</span>

<div class=WordSection5>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535
 style='width:535.0pt;border-collapse:collapse;mso-yfti-tbllook:1184;
 mso-padding-alt:0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:14.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:14.5pt'>
  <p class=MsoNormal align=center style='text-align:center'><a name="RANGE!C180"><i
  style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'>&nbsp;</span></i></a><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'><o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;height:15.0pt'>
  <td width=535 valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:15.0pt'>
  <p class=MsoNormal><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>&nbsp;<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:2;height:15.0pt'>
  <td width=535 valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:15.0pt'>
  <p class=MsoNormal><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'>&nbsp;<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes;height:14.5pt'>
  <td width=535 nowrap valign=bottom style='width:535.0pt;padding:0in 0in 0in 0in;
  height:14.5pt'>
  <p class=MsoNormal align=center style='text-align:center'><a name="RANGE!C183"><i
  style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
  11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
  color:black'>&nbsp;</span></i></a><i style='mso-bidi-font-style:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:11.0pt;line-height:107%;font-family:
  Arial;mso-bidi-font-family:Arial;color:black'><o:p></o:p></span></i></p>
  </td>
 </tr>
</table>

</div>

<i style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
11.0pt;line-height:107%;font-family:Arial;mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;mso-bidi-font-family:Arial;color:black;
text-transform:uppercase;mso-ansi-language:EN-US;mso-fareast-language:EN-US;
mso-bidi-language:AR-SA'><br clear=all style='page-break-before:always;
mso-break-type:section-break'>
</span></i>


