{% include '@node_to_docx/docx-head.html.twig' %}

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<hr>
Debugging here.<br>
<hr>
Content:<br>
<ol>
  {% for key, value in content  %}
    <li>{{ key }}</li>
    {% if loop.index == 7 %}
      {{ value }}
    {% endif %}
  {% endfor %}
</ol>
<hr><hr>
<ol>
  
  {% for key, value in content.field_statute_iv %}
    <li>{{ key }} </li>
  {% endfor %}
</ol>
<hr>
here [ {{ content.field_agency_components[0]['#node'].field_agency.0.target_id }} ]
<hr>

{% include '@node_to_docx/docx-agency-component-abbrev.html.twig' %}

{% include '@node_to_docx/docx-iv-exemption-3-statutes.html.twig' %}

{% include '@node_to_docx/docx-va-foia-requests.html.twig' %}

{% include '@node_to_docx/docx-vb-disposition-foia-requests.html.twig' %}

{% include '@node_to_docx/docx-vb2-disposition-foia-requests-other.html.twig' %}

{% include '@node_to_docx/docx-vb3-disposition-number-of-times.html.twig' %}

{% include '@node_to_docx/docx-via-administrative-appeals.html.twig' %}

{% include '@node_to_docx/docx-vib-administrative-appeals.html.twig' %}

{% include '@node_to_docx/docx-vic-reasons-denial.html.twig' %}

{% include '@node_to_docx/docx-vic2-reasons-other.html.twig' %}

{% include '@node_to_docx/docx-vic3-reasons-other.html.twig' %}

{% include '@node_to_docx/docx-vic4-response-time.html.twig' %}

{% include '@node_to_docx/docx-vic5-ten-oldest-pending.html.twig' %}

{% include '@node_to_docx/docx-viia-response-time.html.twig' %}

{% include '@node_to_docx/docx-viib-processed-requests-response-time.html.twig' %}

{% include '@node_to_docx/docx-viic-processed-simple-ten-day.html.twig' %}

{% include '@node_to_docx/docx-viic-processed-complex-ten-day.html.twig' %}

{% include '@node_to_docx/docx-viic-processed-expedited-ten-day.html.twig' %}

{% include '@node_to_docx/docx-viid-pending-requests.html.twig' %}

{% include '@node_to_docx/docx-viie-pending-requests-ten-oldest.html.twig' %}

{% include '@node_to_docx/docx-viiia-requests-expedited.html.twig' %}

{% include '@node_to_docx/docx-viiib-requests-fee-waiver.html.twig' %}

{% include '@node_to_docx/docx-ix-foia-personnel-costs.html.twig' %}

{% include '@node_to_docx/docx-x-fees-collected.html.twig' %}

{% include '@node_to_docx/docx-xia-number-times-subsection-c.html.twig' %}

{% include '@node_to_docx/docx-xib-number-times-subsection-a2.html.twig' %}

{% include '@node_to_docx/docx-xiia-backlogs.html.twig' %}

{% include '@node_to_docx/docx-xiib-consultations.html.twig' %}

{% include '@node_to_docx/docx-xiic-consultations-ten-oldest.html.twig' %}

{% include '@node_to_docx/docx-xiid-comparisons.html.twig' %}

{% include '@node_to_docx/docx-xiid-comparisons-backlogged.html.twig' %}

{% include '@node_to_docx/docx-xiie-comparisons-appeals.html.twig' %}

{% include '@node_to_docx/docx-xiie2-comparisons-backlogged-appeals.html.twig' %}
<div class=WordSection99>

<p class=MsoNormal style='margin-bottom:6.0pt;mso-para-margin-bottom:.5gd'><i
style='mso-bidi-font-style:normal'><span style='font-size:9.0pt;mso-bidi-font-size:
11.0pt;line-height:107%;font-family:Arial;mso-bidi-font-family:Arial;
color:black;text-transform:uppercase'><o:p>&nbsp;</o:p></span></i></p>

</div>

</body>

</html>
